@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.movies {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 30px;
}